<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.business.mapper.PrepareDetailMapper">
    
    <resultMap type="PrepareDetail" id="PrepareDetailResult">
        <result property="id"    column="id"    />
        <result property="preId"    column="pre_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsCount"    column="goods_count"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPrepareDetailVo">
        select id, pre_id, goods_id, goods_count, status, create_time, create_by, update_time, update_by, remark from t_prepare_detail
    </sql>

    <select id="selectPrepareDetailList" parameterType="PrepareDetail" resultMap="PrepareDetailResult">
        <include refid="selectPrepareDetailVo"/>
        <where>  
            <if test="preId != null "> and pre_id = #{preId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodsCount != null "> and goods_count = #{goodsCount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPrepareDetailById" parameterType="Long" resultMap="PrepareDetailResult">
        <include refid="selectPrepareDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPrepareDetail" parameterType="PrepareDetail" useGeneratedKeys="true" keyProperty="id">
        insert into t_prepare_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="preId != null">pre_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsCount != null">goods_count,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="preId != null">#{preId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsCount != null">#{goodsCount},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePrepareDetail" parameterType="PrepareDetail">
        update t_prepare_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="preId != null">pre_id = #{preId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsCount != null">goods_count = #{goodsCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrepareDetailById" parameterType="Long">
        delete from t_prepare_detail where id = #{id}
    </delete>

    <delete id="deletePrepareDetailByIds" parameterType="String">
        delete from t_prepare_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>