<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.business.mapper.PrepareMapper">
    
    <resultMap type="Prepare" id="PrepareResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="triggerNum"    column="trigger_num"    />
        <result property="promptText"    column="prompt_text"    />
        <result property="commissionMul"    column="commission_mul"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPrepareVo">
        select id, user_name, trigger_num, prompt_text, commission_mul, order_amount, status, create_time, create_by, update_time, update_by, remark from t_prepare
    </sql>

    <select id="selectPrepareList" parameterType="Prepare" resultMap="PrepareResult">
        <include refid="selectPrepareVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="triggerNum != null "> and trigger_num = #{triggerNum}</if>
            <if test="promptText != null  and promptText != ''"> and prompt_text = #{promptText}</if>
            <if test="commissionMul != null "> and commission_mul = #{commissionMul}</if>
            <if test="orderAmount != null "> and order_amount = #{orderAmount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPrepareById" parameterType="Long" resultMap="PrepareResult">
        <include refid="selectPrepareVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPrepare" parameterType="Prepare" useGeneratedKeys="true" keyProperty="id">
        insert into t_prepare
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="triggerNum != null">trigger_num,</if>
            <if test="promptText != null">prompt_text,</if>
            <if test="commissionMul != null">commission_mul,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="triggerNum != null">#{triggerNum},</if>
            <if test="promptText != null">#{promptText},</if>
            <if test="commissionMul != null">#{commissionMul},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePrepare" parameterType="Prepare">
        update t_prepare
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="triggerNum != null">trigger_num = #{triggerNum},</if>
            <if test="promptText != null">prompt_text = #{promptText},</if>
            <if test="commissionMul != null">commission_mul = #{commissionMul},</if>
            <if test="orderAmount != null">order_amount = #{orderAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrepareById" parameterType="Long">
        delete from t_prepare where id = #{id}
    </delete>

    <delete id="deletePrepareByIds" parameterType="String">
        delete from t_prepare where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>